.ViewWrapper {
  display: grid;
  gap: 1rem;

  &__side {
    grid-area: side;
  }
  &__main {
    grid-area: main;
    min-width: 0;
  }

  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'main side';
  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: 0;
    &__side {
      display: none;
    }
  }
}