.PasswordStrength {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .25rem;
  &__bar {
    height: .5rem;
    border-radius: .25rem;
    background: var(--color-component-background-alt);
    &--is-active-1 {
      background: var(--color-primary);
    }
    &--is-active-2 {
      background: var(--color-primary-darken);
    }
    &--is-active-3 {
      background: var(--color-success-text);
    }
  }
  &__label {
    font-size: .75rem;
    font-weight: bold;
    color: var(--color-text-subdued);
    grid-column: 1 / -1;
    &--1 {
      color: var(--color-primary);
    }
    &--2 {
      color: var(--color-primary-darken);
    }
    &--3 {
      color: var(--color-success-text);
    }
  }
}