.Wrapper {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(0px, 900px) minmax(250px, 1fr);
  gap: 1rem;
  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    gap: 0;
    &__side {
      display: none;
    }
  }
}