.Header {
  border-bottom: 1px solid var(--color-component-background-darken);
  background: var(--color-component-background);
}

.BandSelect {
  background: var(--color-background);
  padding: 1rem;
  border-radius: .25rem;
}