.SongDisplay {
  background: var(--color-component-background);
  padding: .5rem;
  margin: .5rem 0;
  border-radius: .25rem;
  box-shadow: var(--box-shadow);
  transition: box-shadow .2s ease;
  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}