.SongRoute {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  &__details, &__header {
    background: var(--color-component-background);
    padding: 1rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__header {
    border-radius: 0;
    @media screen and (min-width: 650px) {
      border-radius: .25rem;
    }
  }
}