@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root {
  --app-height: 100%;
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  --box-shadow-hover: 0 3px 6px rgba(0, 0, 0, .5);
  --box-shadow-up: 0 -3px 6px rgba(0, 0, 0, 0.25);

  --color-background: #f3f3f3;
  --color-component-background: #ffffff;
  --color-component-background-alt: #e6e6e6;
  --color-component-background-darken: #cbcbcb;
  --color-text: #264653;
  --color-text-subdued: #293a41;

  --color-primary: #f4a261;
  --color-primary-text: #FFE7CE;
  --color-primary-darken: #e76f51;

  --color-success: #90ee90;
  --color-success-text: #008000;
  --color-danger: #ff4400;
  --color-secondary: #457b9d;
}

*, *:after, *:before {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}